{
  "openapi": "3.0.1",
  "info": {
    "title": "Interhome Group Distribution API",
    "description": "The Webservices have been developed for Interhome Group using a REST-approach.\r\n\r\n## Endpoint-URLs Format\r\n[Base URL][REST route][Selectors][Query parameters]\r\n\r\n## Service URLs\r\nTest System: https://ws.interhome.com/test/ih/b2b/V0100/\r\n\r\nProduction system: https://ws.interhome.com/ih/b2b/V0100/\r\n\r\nRoutes, selectors and query parameters are specified below with each individual service.\r\n## Limitation of requests\r\nTest Environment: 50 RQ /second\r\n\r\nProductive Environment: 200 RQ/second\r\n\r\nPlease use \"Accept-Encoding: gzip\" to reduce traffic.\r\n\r\n## Scheduled downtime\r\nEvery Tuesday morning around 4:00 to 6:00 (CET), our service might be unresponsive due to system updates.",
    "termsOfService": "https://partners.interhome.group/",
    "contact": {
      "name": "Interhome Group",
      "url": "https://partners.interhome.group/",
      "email": "partners@interhome.group"
    },
    "version": "v5.2.2"
  },
  "servers": [
    {
      "url": "https://ws.interhome.com/test/ih/b2b/V0100"
    }
  ],
  "paths": {
    "/accommodation/list": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.1.1 Accommodation list",
        "description": "## Description\r\nThe method returns a list of all accommodations (code, name, date of modification) with an active contract.\r\n## Use case\r\nThis method is typically called during a nightly or weekly automated update of property data. The returned static data for the accommodation codes is afterwards updated using the *Accommodation/Details* service and is cached locally.\r\n            \r\nPlease be aware that you should use the query parameter *ModifiedSince* to receive just the accommodation which have been updated in the following fields since your last import: *Prices*, *Accommodation/Details*. Interhome does not support any info of inactivated properties; so you need to create your own delta.\r\n## Caching\r\nYes\r\n## Timing/Duration of call\r\nWhole portfolio: 1 second\r\n            \r\nWith *ModifiedSince*: 3 seconds\r\n## Examples\r\n[https://ws.interhome.com/ih/b2b/V0100/accommodation/list](https://ws.interhome.com/ih/b2b/V0100/accommodation/list)",
        "operationId": "ListAccommodations",
        "parameters": [
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Filters results to accommodations modified after a given\r\ndate. ModifiedSince can be a date or a datetime value.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2016-06-24T10:00:00"
          },
          {
            "name": "Brand",
            "in": "query",
            "description": "One or many specific brands",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ModifyType",
            "in": "query",
            "description": "List of ModifyTypes to specifically search for. For example you want to check every 5 minutes for changes on availability then use 'VACANCY' (see LastModifiedTypeEnum)",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/LastModifiedTypeEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationListRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationListRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/accommodation/list/{countryCode}": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.1.2 Accommodation list",
        "description": "## Description\r\nThe method returns a list of all accommodations (code, name, date of modification) with an active contract for the selected country.\r\n## Use case\r\nThis method is typically called during a nightly or weekly automated update of property data. The returned static data for the accommodation codes is afterwards updated using the *Accommodation/Details* service and is cached locally.\r\n            \r\nPlease be aware that you should use the query parameter *ModifiedSince* to receive just the accommodation which have been updated in the following fields since your last import: *Prices*, *Accommodation/Details*. Interhome does not support any info of inactivated properties; so you need to create your own delta.\r\n## Caching\r\nYes\r\n## Timing/Duration of call\r\nWhole portfolio: 1 second\r\n            \r\nWith *ModifiedSince*: 3 seconds\r\n## Examples\r\n[https://ws.interhome.com/ih/b2b/V0100/accommodation/list](https://ws.interhome.com/ih/b2b/V0100/accommodation/list)",
        "operationId": "ListAccommodationsByCountryCode",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "All accommodations in this country",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH"
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Filters results to accommodations modified after a given\r\ndateModifiedSince can be a date or a datetime value.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2016-06-24T10:00:00"
          },
          {
            "name": "Brand",
            "in": "query",
            "description": "One or many specific brands",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ModifyType",
            "in": "query",
            "description": "List of ModifyTypes to specifically search for. For example you want to check every 5 minutes for changes on availability then use 'VACANCY' (see LastModifiedTypeEnum)",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/LastModifiedTypeEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationListRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationListRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/accommodation/list/{countryCode}/{placeCode}": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.1.3 Accommodation list",
        "description": "## Description\r\nThe method returns a list of all accommodations (code, name, date of modification) with an active contract for the selected country and place.\r\n## Use case\r\nThis method is typically called during a nightly or weekly automated update of property data. The returned static data for the accommodation codes is afterwards updated using the *Accommodation/Details* service and is cached locally.\r\n            \r\nPlease be aware that you should use the query parameter *ModifiedSince* to receive just the accommodation which have been updated in the following fields since your last import: *Prices*, *Accommodation/Details*. Interhome does not support any info of inactivated properties; so you need to create your own delta.\r\n## Caching\r\nYes\r\n## Timing/Duration of call\r\nWhole portfolio: 1 second\r\n            \r\nWith *ModifiedSince*: 3 seconds\r\n## Examples\r\n[https://ws.interhome.com/ih/b2b/V0100/accommodation/list](https://ws.interhome.com/ih/b2b/V0100/accommodation/list)",
        "operationId": "ListAccommodationsByCountryCodePlaceCode",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "All accommodations in this country",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH"
          },
          {
            "name": "placeCode",
            "in": "path",
            "description": "All accommodations in this country and place",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3920
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Filters results to accommodations modified after a given\r\ndateModifiedSince can be a date or a datetime value.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2016-06-24T10:00:00"
          },
          {
            "name": "Brand",
            "in": "query",
            "description": "One or many specific brands",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ModifyType",
            "in": "query",
            "description": "List of ModifyTypes to specifically search for. For example you want to check every 5 minutes for changes on availability then use 'VACANCY' (see LastModifiedTypeEnum)",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/LastModifiedTypeEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationListRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationListRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/accommodation/list/{countryCode}/{placeCode}/{houseCode}": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.1.4 Accommodation list",
        "description": "## Description\r\nThe method returns a list of all accommodations (code, name, date of modification) with an active contract for the selected region.\r\n## Use case\r\nThis method is typically called during a nightly or weekly automated update of property data. The returned static data for the accommodation codes is afterwards updated using the *Accommodation/Details* service and is cached locally.\r\n            \r\nPlease be aware that you should use the query parameter *ModifiedSince* to receive just the accommodation which have been updated in the following fields since your last import: *Prices*, *Accommodation/Details*. Interhome does not support any info of inactivated properties; so you need to create your own delta.\r\n## Caching\r\nYes\r\n## Timing/Duration of call\r\nWhole portfolio: 1 second\r\n            \r\nWith *ModifiedSince*: 3 seconds\r\n## Examples\r\n[https://ws.interhome.com/ih/b2b/V0100/accommodation/list](https://ws.interhome.com/ih/b2b/V0100/accommodation/list)",
        "operationId": "ListAccommodationsByCountryCodePlaceCodeRegionCode",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "All accommodations in this country",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH"
          },
          {
            "name": "placeCode",
            "in": "path",
            "description": "All accommodations in this country and place",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3920
          },
          {
            "name": "houseCode",
            "in": "path",
            "description": "All accommodations in this region",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Filters results to accommodations modified after a given\r\ndateModifiedSince can be a date or a datetime value.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2016-06-24T10:00:00"
          },
          {
            "name": "Brand",
            "in": "query",
            "description": "One or many specific brands",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ModifyType",
            "in": "query",
            "description": "List of ModifyTypes to specifically search for. For example you want to check every 5 minutes for changes on availability then use 'VACANCY' (see LastModifiedTypeEnum)",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/LastModifiedTypeEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationListRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationListRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/accommodation/list/{countryCode}/{placeCode}/{houseCode}/{accommodationCode}": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.1.5 Accommodation list",
        "description": "## Description\r\nThe method returns a list of all accommodations (code, name, date of modification) with an active contract for the selected house.\r\n## Use case\r\nThis method is typically called during a nightly or weekly automated update of property data. The returned static data for the accommodation codes is afterwards updated using the *Accommodation/Details* service and is cached locally.\r\n            \r\nPlease be aware that you should use the query parameter *ModifiedSince* to receive just the accommodation which have been updated in the following fields since your last import: *Prices*, *Accommodation/Details*. Interhome does not support any info of inactivated properties; so you need to create your own delta.\r\n## Caching\r\nYes\r\n## Timing/Duration of call\r\nWhole portfolio: 1 second\r\n            \r\nWith *ModifiedSince*: 3 seconds\r\n## Examples\r\n[https://ws.interhome.com/ih/b2b/V0100/accommodation/list](https://ws.interhome.com/ih/b2b/V0100/accommodation/list)",
        "operationId": "ListAccommodationsByCountryCodePlaceCodeRegionCodeHouseCode",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "All accommodations in this country",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH"
          },
          {
            "name": "placeCode",
            "in": "path",
            "description": "All accommodations in this country and place",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3920
          },
          {
            "name": "houseCode",
            "in": "path",
            "description": "All accommodations in this house",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 4
          },
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "Specific accommodation in the given house",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ModifiedSince",
            "in": "query",
            "description": "Filters results to accommodations modified after a given\r\ndateModifiedSince can be a date or a datetime value.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2016-06-24T10:00:00"
          },
          {
            "name": "Brand",
            "in": "query",
            "description": "One or many specific brands",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ModifyType",
            "in": "query",
            "description": "List of ModifyTypes to specifically search for. For example you want to check every 5 minutes for changes on availability then use 'VACANCY' (see LastModifiedTypeEnum)",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/LastModifiedTypeEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationListRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationListRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/accommodation/{accommodationCode}": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.2.1 Accommodation detail",
        "description": "## Description\r\nThe Accommodation Detail method returns all static data (descriptions, attributes, media URLs) of an accommodation.\r\nMultiple languages can be retrieved at once by adding \"Language\" parameters to the URL\r\n## Use case\r\nThis method is typically used on the property details page.\r\n## Caching\r\nThe response of this method must be cached and updated at least weekly.",
        "operationId": "GetAccommodationDetailsByAccommodationCode",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH3920.4.1"
          },
          {
            "name": "Language",
            "in": "query",
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/LanguagesEnum"
              }
            }
          },
          {
            "name": "CheckIn",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2016-06-24"
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationDetailsRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationDetailsRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/accommodation/media/{accommodationCode}": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.3.1 Accommodation media",
        "description": "## Description\r\nThis method is a subset of the Accommodation Detail response. It returns all media URLs. Currently, only photos are supported and returned.\r\n## Use case\r\nIt is typically used to access/update accommodation media URLs only during a nightly update.\r\n## Caching\r\nThe response of this method must be cached and updated, at least weekly.",
        "operationId": "ListAccommodationMediaByAccommodationCodeWithPageAndModifiedSince",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH3920.4.1"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Amount of results per page (required, if Page, ModifiedSinceFrom or ModifiedSinceTo is set)",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page selection (required, if PageSize, ModifiedSinceFrom or ModifiedSinceTo is set)",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "ModifiedSinceFrom",
            "in": "query",
            "description": "Start date for modified since filtering (required, if ModifiedSinceTo is set)",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2022-01-01"
          },
          {
            "name": "ModifiedSinceTo",
            "in": "query",
            "description": "End date for modified since filtering (required, if ModifiedSinceFrom is set)",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2022-02-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation Media",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationMediaRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationMediaRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/accommodation/media/{accommodationCode}/{resolution}": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.3.2 Accommodation media",
        "description": "## Description\r\nThis method is a subset of the Accommodation Detail response. It returns all media URLs. Currently, only photos are supported and returned.\r\n## Use case\r\nIt is typically used to access/update accommodation media URLs only during a nightly update.\r\n## Caching\r\nThe response of this method must be cached and updated, at least weekly.",
        "operationId": "ListAccommodationMediaByAccommodationCodeResolutionWithPageAndModifiedSince",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH3920.4.1"
          },
          {
            "name": "resolution",
            "in": "path",
            "description": "Default is medium, see PhotoResolutionEnum",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PhotoResolutionEnum"
                }
              ],
              "description": "Photo resolution enumeration"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Amount of results per page (required, if Page, ModifiedSinceFrom or ModifiedSinceTo is set)",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page selection (required, if PageSize, ModifiedSinceFrom or ModifiedSinceTo is set)",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "ModifiedSinceFrom",
            "in": "query",
            "description": "Start date for modified since filtering (required, if ModifiedSinceTo is set)",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2022-01-01"
          },
          {
            "name": "ModifiedSinceTo",
            "in": "query",
            "description": "End date for modified since filtering (required, if ModifiedSinceFrom is set)",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2022-02-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation Media",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationMediaRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationMediaRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/accommodation/services/{accommodationCode}/{language}": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.4.1 Accommodation services",
        "description": "## Description\r\nReturns all services and extra costs (both mandatory and optional) for a specific property of the chosen sales currency in the selected language.\r\n            \r\n            \r\n**Services that have to be paid on the spot are always returned in the destination currency, no matter which sales\r\ncurrency is chosen!**\r\n## Caching\r\nYes\r\n## Use case\r\nThe services returned are typically cached in a local database.\r\n## Timing/Duration of call\r\nRequest with a specific travel date: 150ms. Request for all travel dates: 550ms.",
        "operationId": "ListAccommodationServicesByAccommodationCodeLanguage",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LanguagesEnum"
                }
              ],
              "description": ""
            },
            "example": "En"
          },
          {
            "name": "SalesOffice",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Currency",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CurrencyEnum"
                }
              ],
              "description": "Special themes"
            }
          },
          {
            "name": "CheckIn",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CheckOut",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation Services",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationSvcRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationSvcRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/accommodation/pricelist/{accommodationCode}": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.5. Accommodation Price list",
        "description": "## Description\r\nReturns all prices for a given duration / occupancy.  For different source markets, this request does not have to be sent per SalesOffice.\r\n            \r\nIn that case, only the EUR prices can be imported and prices for other source markets can be calculated with the currency.xml provided on our partner ftp. This does not include source markets for India and Australia.\r\n## Use case\r\n- To display the cheapest price for a given duration\r\n- To create a price matrix\r\n- Some partners use it to provide a calendar including prices to the guests\r\n- To import prices weekly\r\n## Caching\r\nIt is **not allowed** to use this request to update the prices several times a day. The response of this method has to be cached and should be updated at least weekly.",
        "operationId": "ListAccommodationPricesByAccommodationCode",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "Selects the corresponding accommodation",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH3920.4.1"
          },
          {
            "name": "SalesOffice",
            "in": "query",
            "description": "Includes services of this Sales Office",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2020
          },
          {
            "name": "Currency",
            "in": "query",
            "description": "Currency in which all amounts should be returned",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CurrencyEnum"
                }
              ],
              "description": "Special themes"
            },
            "example": "CHF"
          },
          {
            "name": "Duration",
            "in": "query",
            "description": "Duration of stay (in days)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 7
          },
          {
            "name": "PaxSplit",
            "in": "query",
            "description": "If there are different prices depending on occupancy, all will be delivered with this parameter set to true. With value false or without this parameter you only get prices for maximum occupancy.",
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation Price List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationPriceRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationPriceRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/accommodation/pricelistalldur/{accommodationCode}": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.6.1 Accommodation Price List with pax split and all durations",
        "description": "## Description\r\nReturns all prices for a given period for all durations from 1 to 28 nights. For different source markets, this request has to be sent per SalesOffice.\r\n## Use case\r\n- To fetch all prices for a specific accommodation\r\n- To import prices per check-in day, duration and pax (occupancy).\r\n## Caching\r\nThe response of this method has to be cached and should be updated once a day.",
        "operationId": "ListAccommodationPricesAllDurationsByAccommodationCode",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "DE3538.100.1"
          },
          {
            "name": "SalesOffice",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1234
          },
          {
            "name": "LOS",
            "in": "query",
            "description": "Returns vacancy checked prices only. Only instant bookable options will be returned.",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "Pax",
            "in": "query",
            "description": "Limit results to minimum pax",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 4
          },
          {
            "name": "Duration",
            "in": "query",
            "description": "Limits result to duration",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 7
          },
          {
            "name": "SpecialOffer",
            "in": "query",
            "description": "Adds information about special offers (default false)",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "RangeFromDate",
            "in": "query",
            "description": "Limits results to this earliest date",
            "schema": {
              "type": "string"
            },
            "example": "2021-02-24"
          },
          {
            "name": "RangeToDate",
            "in": "query",
            "description": "Limits results to this latest date",
            "schema": {
              "type": "string"
            },
            "example": "2021-05-24"
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation Price List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationPriceAllDurRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationPriceAllDurRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/accommodation/seasonpricelist/{accommodationCode}": {
      "get": {
        "tags": [
          "2. Accommodation"
        ],
        "summary": "2.7 Accommodation season price list",
        "description": "## Description\r\nReturns a seasonal price list as it would be printed in a catalog for a given duration (e.g. 1 week). For overlapping seasons, no price is returned.\r\n            \r\nIn comparison to accommodation/pricelist method (2.5), this method returns one price per season/contract built in our backend system. This method takes the price of the first day in this season and returns this.\r\n            \r\nIn general, during one season, the prices are the same, except when a special offer appears. In that case, those special offers during this contract/season will not be shown.\r\n## Use case\r\nIt is typically used to display a price list on the property details page. It is not recommended to use this method to import the data in your own database.\r\n## Caching\r\nThe response of this method must be cached and updated at least weekly.",
        "operationId": "ListAccommodationSeasonalPricesByAccommodationCode",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "Selects the corresponding accommodation",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH3920.4.1"
          },
          {
            "name": "SalesOffice",
            "in": "query",
            "description": "Includes services of this Sales Office",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2020
          },
          {
            "name": "Currency",
            "in": "query",
            "description": "Currency in which all amounts should be returned",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CurrencyEnum"
                }
              ],
              "description": "Special themes"
            },
            "example": "CHF"
          },
          {
            "name": "Duration",
            "in": "query",
            "description": "Duration of stay (in days)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 7
          },
          {
            "name": "PaxSplit",
            "in": "query",
            "description": "If there are different prices depending on occupancy, all will be delivered with this parameter set to true. With value false or without this parameter you only get prices for maximum occupancy.",
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation Seasonal Price List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationPriceRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationPriceRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/destinations/countries": {
      "get": {
        "tags": [
          "3. Destinations"
        ],
        "summary": "3.1 Destinations",
        "description": "## Description\r\nReturns all active travel destinations (countries, regions, places) in which Interhome Group offers accommodations.\r\n## Use case\r\nThe destination information should be cached in a local database. It then can be used to feed data (region, place codes etc.) to the Search method.\r\n## Caching\r\nThe response of this method must be cached and updated at least weekly.",
        "operationId": "ListAllTravelDestinationCountries",
        "parameters": [
          {
            "name": "Language",
            "in": "query",
            "description": "Specify a language or get default English",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LanguagesEnum"
                }
              ],
              "description": ""
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Destination countries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelDestinationsRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TravelDestinationsRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/destinations/countries/{countryCode}": {
      "get": {
        "tags": [
          "3. Destinations"
        ],
        "summary": "3.2 Destinations",
        "description": "## Description\r\nReturns all active travel destinations (countries, regions, places) in which Interhome Group offers accommodations.\r\n## Use case\r\nThe destination information should be cached in a local database. It then can be used to feed data (region, place codes etc.) to the Search method.\r\n## Caching\r\nThe response of this method must be cached and updated at least weekly.",
        "operationId": "ListTravelDestinationCountriesByCountryCode",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "Country, regions and places -> means all travel destinations for chosen country",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH"
          },
          {
            "name": "Language",
            "in": "query",
            "description": "Specify a language or get default English",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LanguagesEnum"
                }
              ],
              "description": ""
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Destination countries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelDestinationsRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TravelDestinationsRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/destinations/countries/{countryCode}/regions/{regionCode}": {
      "get": {
        "tags": [
          "3. Destinations"
        ],
        "summary": "3.3 Destinations",
        "description": "## Description\r\nReturns all active travel destinations (countries, regions, places) in which Interhome Group offers accommodations.\r\n## Use case\r\nThe destination information should be cached in a local database. It then can be used to feed data (region, place codes etc.) to the Search method.\r\n## Caching\r\nThe response of this method must be cached and updated at least weekly.",
        "operationId": "ListTravelDestinationsByCountryCodeRegionCode",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "Country, regions and places -> means all travel destinations for chosen country",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH"
          },
          {
            "name": "regionCode",
            "in": "path",
            "description": "All regions for chosen country",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "Language",
            "in": "query",
            "description": "Specify a language or get default English",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LanguagesEnum"
                }
              ],
              "description": ""
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Destination countries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelDestinationsRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TravelDestinationsRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/destinations/countries/{countryCode}/places/{placeCode}": {
      "get": {
        "tags": [
          "3. Destinations"
        ],
        "summary": "3.4 Destinations",
        "description": "## Description\r\nReturns all active travel destinations (countries, regions, places) in which Interhome Group offers accommodations.\r\n## Use case\r\nThe destination information should be cached in a local database. It then can be used to feed data (region, place codes etc.) to the Search method.\r\n## Caching\r\nThe response of this method must be cached and updated at least weekly.",
        "operationId": "ListTravelDestinationByCountryCodePlaceCode",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "Country, regions and places -> means all travel destinations for chosen country",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH"
          },
          {
            "name": "placeCode",
            "in": "path",
            "description": "All places for chosen country",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "Language",
            "in": "query",
            "description": "Specify a language or get default English",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LanguagesEnum"
                }
              ],
              "description": ""
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Destination countries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelDestinationsRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TravelDestinationsRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/salesoffices": {
      "get": {
        "tags": [
          "4. Sales Offices"
        ],
        "summary": "4.1 Sales offices",
        "description": "## Description\r\nReturns all Interhome Group sales offices which accept bookings, including accepted payment methods and cancellation conditions, via API.\r\n## Caching\r\nThe response of this method must be cached and updated at least weekly.",
        "operationId": "ListSalesOfficesInformation",
        "responses": {
          "200": {
            "description": "Sales offices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOfficesRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOfficesRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/salesoffices/{salesOffice}": {
      "get": {
        "tags": [
          "4. Sales Offices"
        ],
        "summary": "4.2 Sales offices",
        "description": "## Description\r\nReturns accepted payment methods and cancellation conditions for the selected sales office, via API.\r\n## Caching\r\nThe response of this method must be cached and updated at least weekly.",
        "operationId": "ListSalesOfficesInformationBySalesOffice",
        "parameters": [
          {
            "name": "salesOffice",
            "in": "path",
            "description": "Select a specific SalesOffice",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2020"
          }
        ],
        "responses": {
          "200": {
            "description": "Sales offices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOfficesRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOfficesRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/specialoffers/{specialOfferCode}/definitions": {
      "get": {
        "tags": [
          "5. Special Offers"
        ],
        "summary": "5.1 Special offer definitions",
        "description": "## Description\r\nThis method returns the definitions (descriptions) of all available special offers. It does not return any actual prices / special offers on product base.\r\n## Use case\r\nCan be used to cache an overview of all available special offer Interhome Group provides.\r\n## Timing/Duration of call\r\n100ms",
        "operationId": "GetSpecialOfferDefinitionBySpecialOfferCode",
        "parameters": [
          {
            "name": "specialOfferCode",
            "in": "path",
            "description": "Selects a specific special offer to see the conditions of booking for that offer, you need to replace the slash in the original special offer code with '%2F'",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EB%F200000001"
          },
          {
            "name": "Language",
            "in": "query",
            "description": "Language of text elements. Default is English",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/LanguagesEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Special offer definitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpecialOfferDefinitionsRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SpecialOfferDefinitionsRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/specialoffers/definitions": {
      "get": {
        "tags": [
          "5. Special Offers"
        ],
        "summary": "5.1 Special offer definitions",
        "description": "## Description\r\nThis method returns the definitions (descriptions) of all available special offers. It does not return any actual prices / special offers on product base.\r\n## Use case\r\nCan be used to cache an overview of all available special offer Interhome Group provides.\r\n## Timing/Duration of call\r\n100ms",
        "operationId": "ListAllSpecialOfferDefinitions",
        "parameters": [
          {
            "name": "Language",
            "in": "query",
            "description": "Language of text elements. Default is English",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/LanguagesEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Special offer definitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpecialOfferDefinitionsRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SpecialOfferDefinitionsRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/booking/checkPossible": {
      "get": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.1 Booking check",
        "description": "## Description\r\nCheck if a booking is generally possible for a given check-in/check-out combination.\r\n## Use case\r\nThis method is only useful to check if a booking is generally possible. In many cases, the Check Price function (which yields the price) should be used instead.\r\nIf you just want to know if it is possible to create a reservation on this property, you receive Yes or No back and you can go forward with checkprice.\r\n## Caching\r\nNo",
        "operationId": "GetBookingCheckPossible",
        "parameters": [
          {
            "name": "AccommodationCode",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH3920.4.1"
          },
          {
            "name": "CheckIn",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2020-12-31"
          },
          {
            "name": "CheckOut",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-01-14"
          },
          {
            "name": "SalesOffice",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2020
          }
        ],
        "responses": {
          "204": {
            "description": "Booking possible"
          },
          "200": {
            "description": "Booking possible on request"
          },
          "404": {
            "description": "Booking not possible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckPossibleRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CheckPossibleRs"
                }
              }
            }
          },
          "410": {
            "description": "Booking not possible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckPossibleRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CheckPossibleRs"
                }
              }
            }
          }
        }
      }
    },
    "/booking/checkPrice": {
      "post": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.2 Check price",
        "description": "## Description\r\nChecks if a booking is possible and returns the final price along with all extra costs for a given check-in/check-out combination. Please be aware that CheckPriceRQ are only successful if the property has free vacancies available. If the property has no free vacancies (which you could check with vacancy/string), a 404 error is returned.\r\nAll Post Parameters have to be implemented in element BookingHeader.\r\nHandling of extra costs and services:\r\n* The final price returned in the response, includes all compulsory extra costs for the total duration of the stay\r\n* The cost for any optional service, which have to be paid with the reservation and is selected in the request, is included in the customer total price.\r\nMoreover the returned price for the optional service in the \"services\" section of the response is pre-calculated and refers to the total duration of the stay (no correlation to the unit in the response)\r\n* Optional services paid on spot are not included in customer total price. Those services have to be calculated for the customer (see example in 2.4 Accommodation Services)\r\n* If an optional service has been selected n times, it will appear n times in the response\r\n* Only services with type N* (additional services) can be selected at time of booking\r\n## Use case\r\nThis method is typically used on the property details page when a customer selects check-in and duration.\r\n## Caching\r\nNo",
        "operationId": "GetCheckPrice",
        "requestBody": {
          "description": "Body for price check",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CheckPriceRq"
                  }
                ],
                "description": "",
                "xml": {
                  "name": "CheckPriceRq"
                }
              }
            },
            "application/xml": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CheckPriceRq"
                  }
                ],
                "description": "",
                "xml": {
                  "name": "CheckPriceRq"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Booking possible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckPriceRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CheckPriceRs"
                }
              }
            }
          },
          "404": {
            "description": "Price could not be determined (property does not exist or has no price information)"
          },
          "410": {
            "description": "Accommodation / trip not available"
          }
        }
      }
    },
    "/booking/checkPrice/final": {
      "post": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.3 Check price final",
        "description": "## Description\r\nFor this method, the format of both request and response is identical to booking/checkPrice. Additionally, to checkprice RQ, a live price is requested directly from the supplier for all third party properties.\r\n## Use case\r\nThis method must only be used to check the price in the final stage before the booking. It is not allowed to use this method to retrieve prices in bulk!\r\n## Timing/Duration of call\r\nIt can take up to 60 seconds before a response is generated.",
        "operationId": "GetCheckPriceFinal",
        "requestBody": {
          "description": "Body for price check",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CheckPriceRq"
                  }
                ],
                "description": "",
                "xml": {
                  "name": "CheckPriceRq"
                }
              }
            },
            "application/xml": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CheckPriceRq"
                  }
                ],
                "description": "",
                "xml": {
                  "name": "CheckPriceRq"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Booking possible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckPriceRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CheckPriceRs"
                }
              }
            }
          },
          "404": {
            "description": "Price could not be determined (property does not exist or has no price information)"
          },
          "410": {
            "description": "Accommodation / trip not available"
          }
        }
      }
    },
    "/booking/cancelConditions/{salesOffice}": {
      "get": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.4 Cancel conditions",
        "description": "## Description\r\nReturns the cancellation conditions for a specific sales office.\r\n## Use case\r\nThis method is typically used during the booking process to display the cancellation conditions to the customer before the booking.\r\n## Caching\r\nThe response of this method must be cached and updated at least weekly.",
        "operationId": "ListCancelConditionsBySalesOffice",
        "parameters": [
          {
            "name": "salesOffice",
            "in": "path",
            "description": "Selects the corresponding SalesOffice",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2048
          }
        ],
        "responses": {
          "200": {
            "description": "Check Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelConditionsRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CancelConditionsRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/booking/reservation": {
      "post": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.5.1 Create reservation",
        "description": "## Description\r\nSend a valid Reservation POST request. The service will respond with either the new Reservation Number in case of success or error messages in case of failure.\r\n## Use Case\r\nUse this request to create a final booking.\r\n## Timing/Duration of call\r\nThe reservation process can take up to 60 seconds. Therefore, it is advised to set the timeout to 60 seconds or more.",
        "operationId": "CreateReservation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateReservationRq"
                  }
                ],
                "description": "",
                "xml": {
                  "name": "CreateReservationRq"
                }
              }
            },
            "application/xml": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateReservationRq"
                  }
                ],
                "description": "",
                "xml": {
                  "name": "CreateReservationRq"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created reservation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReservationRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReservationRs"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      }
    },
    "/booking/reservation/{reservationNumber}": {
      "get": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.5.2 Read reservation",
        "description": "## Description\r\nSend a GET request with the reservation number to be read as selector.\r\n## Use Case\r\nWith this request you get all the booking information including status of the booking.\r\n## Timing/Duration of call\r\nThe process can take up to 60 seconds. Therefore, it is advised to set the timeout to 60 seconds or more.",
        "operationId": "GetReservationByReservationNumber",
        "parameters": [
          {
            "name": "reservationNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Read reservation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadReservationResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ReadReservationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Request yields no result"
          }
        }
      },
      "delete": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.5.3 Cancel reservation",
        "description": "## Description\r\n* to cancel a reservation\r\n* In case of success, HTTP status code 204 is returned\r\n* If the reservation is already canceled, HTTP status code 410 (Gone) is returned\r\n## Timing/Duration of call\r\nThe process can take up to 60 seconds. Therefore, it is advised to set the timeout to 60 seconds or more.",
        "operationId": "DeleteReservationByReservationNumber",
        "parameters": [
          {
            "name": "reservationNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Canceled reservation"
          },
          "410": {
            "description": "Reservation was cancelled already"
          }
        }
      }
    },
    "/payform.html": {
      "get": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.5.4 Payment iFrame",
        "description": "## COLLECTING PAYMENTS\r\n## *THIS IS NOT AN API ENDPOINT*\r\n## This is an example for our iFrame payment website to which you can forward your customers for payments directly to Interhome Group.\r\n##\r\nAn overview of the allowed payments methods as well their deadlines per sales office can be found in our partner Wiki (http://www.interhome-partners.com/wiki/faq:general:salesoffices_overview) or by the following requests:\r\n- General overview: [https://ws.interhome.com/ih/b2b/V0100/salesoffices](https://ws.interhome.com/ih/b2b/V0100/salesoffices)\r\n- Specific sales office: [https://ws.interhome.com/ih/b2b/V0100/salesoffices/2020](https://ws.interhome.com/ih/b2b/V0100/salesoffices/2020)\r\nIn general, Interhome is the merchant of records (fulfillment Interhome). If the client is choosing to pay electronic (rather than by invoice), you are obliged to provide the Interhome payment URL, which you receive in the reservation response.\r\n## Endpoints\r\nTEST: [https://payment-test.interhome.com/payform.htm](https://payment-test.interhome.com/payform.htm)\r\n            \r\nPROD: [https://payment.interhome.com/payform.htm](https://payment.interhome.com/payform.htm)",
        "operationId": "EXAMPLE_collecting_payments_endpoint_NOT_USABLE_JUST_EXAMPLE",
        "parameters": [
          {
            "name": "Template",
            "in": "query",
            "description": "Template to be used (PSD2 compliance)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ct_responsive_ch"
          },
          {
            "name": "Reservation",
            "in": "query",
            "description": "Your Partner ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "202921500020"
          },
          {
            "name": "Currency",
            "in": "query",
            "description": "Capitalized 3-letter ISO 4217 currency code",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CurrencyEnum"
                }
              ],
              "description": "Special themes"
            },
            "example": "CHF"
          },
          {
            "name": "Orderdesc",
            "in": "query",
            "description": "Brief description of the service for which the payment is made",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "202921500020"
          },
          {
            "name": "Method",
            "in": "query",
            "description": "Chosen method",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PaymentMethodsEnum"
                }
              ],
              "description": "Supported payment methods"
            },
            "example": "CC"
          },
          {
            "name": "Language",
            "in": "query",
            "description": "Capitalized 2-letter ISO 639-1 code",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LanguagesEnum"
                }
              ],
              "description": ""
            },
            "example": "DE"
          },
          {
            "name": "Source",
            "in": "query",
            "description": "Possible Values iRent, IC",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ReservationSourceEnum"
                }
              ],
              "description": "Supported payment methods"
            },
            "example": "IRent"
          },
          {
            "name": "Amount",
            "in": "query",
            "description": "Amount to be payed",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "50"
          },
          {
            "name": "URLSuccess",
            "in": "query",
            "description": "URL encoded callback endpoint can be set by partner",
            "schema": {
              "type": "string"
            },
            "example": "https%3A%2F%2Fwww.partner.com%2Fsuccess.html"
          },
          {
            "name": "URLFailure",
            "in": "query",
            "description": "URL encoded callback endpoint can be set by partner",
            "schema": {
              "type": "string"
            },
            "example": "https%3A%2F%2Fwww.partner.com%2Ffailure.html"
          },
          {
            "name": "Userdata",
            "in": "query",
            "description": "URL encoded callback endpoint can be set by partner This parameter can be used to send data to the callback endpoints.",
            "schema": {
              "type": "string"
            },
            "example": "sessionid%3D987654%26custid%3D12345"
          }
        ],
        "responses": {
          "307": {
            "description": "Redirect to success or failure url"
          }
        }
      }
    },
    "/booking/reservation/ratify/{reservationNumber}": {
      "put": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.6 Ratify reservation",
        "description": "## Description\r\nRatifies a reservation that was originally created as a \"short\" option and makes it a confirmed reservation.\r\n## Use case\r\nThis method must be used to confirm a booking that was created as tentative \"short option\" (with parameters isOption: true, optionType: short). Unconfirmed \"short option\" bookings automatically expire after a given time.\r\n## Caching\r\nNo",
        "operationId": "UpdateRatifyReservationByReservationNumber",
        "parameters": [
          {
            "name": "reservationNumber",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "202016123456"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "410": {
            "description": "Reservation was cancelled already"
          },
          "400": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorType"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorType"
                }
              }
            }
          }
        }
      }
    },
    "/booking/reservation/list": {
      "get": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.7 Reservation list",
        "description": "## Description\r\nReturns all reservations (including options, cancellations) for the given partner or status code 404 if no reservation are found for your given search.\r\n## Use case\r\nThis method is typically used in an extra-net to display the current state of a booking. Additional details for each reservation can be retrieved using the Reservation Read method.\r\n## Caching\r\nYes. Output must be cached for at least 10 minutes to avoid unnecessary traffic.",
        "operationId": "ListReservations",
        "parameters": [
          {
            "name": "AccommodationCode",
            "in": "query",
            "description": "To set up on reservation list restricted by corresponding Accommodation Codes only Important: Multiple Accommodation Codes are interpreted as array list",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ModifiedSinceFrom",
            "in": "query",
            "description": "To set up on reservation list restricted by \"modified since from\". For example, to request only new reservations since last request date. ModifiedSinceFrom can be a date or a datetime value.",
            "schema": {
              "type": "string"
            },
            "example": "2016-06-24"
          },
          {
            "name": "ModifiedSinceTo",
            "in": "query",
            "description": "To set up on reservation list restricted by \"modified since to\" as range. For example, to request only reservations between \"modified since from. ModifiedSinceTo can be a date or a datetime value.",
            "schema": {
              "type": "string"
            },
            "example": "2016-06-24T10:00:00"
          },
          {
            "name": "ExcludeCancellations",
            "in": "query",
            "description": "By default, all reservations are requested. True means restricted by only not canceled reservations.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CheckInFrom",
            "in": "query",
            "description": "To set up on reservation list restricted by check-in date.",
            "schema": {
              "type": "string"
            },
            "example": "2016-06-24"
          },
          {
            "name": "CheckInTo",
            "in": "query",
            "description": "To set up on reservation list restricted by check-in date range.",
            "schema": {
              "type": "string"
            },
            "example": "2016-06-24"
          },
          {
            "name": "CreationDateFrom",
            "in": "query",
            "description": "To set up on reservation list restricted by creation date. Creation date can be a date or a datetime value.",
            "schema": {
              "type": "string"
            },
            "example": "2016-06-24"
          },
          {
            "name": "CreationDateTo",
            "in": "query",
            "description": "To set up on reservation list restricted by creation date range. Creation date can be a date or a datetime value.",
            "schema": {
              "type": "string"
            },
            "example": "2016-06-24T10%3A00%3A00"
          },
          {
            "name": "ReservationStateCode",
            "in": "query",
            "description": "To set up on reservation list restricted by reservation/ booking status.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ReservationStatusCodeEnum"
                }
              ],
              "description": "Reservation states"
            },
            "example": "OK"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReservationsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetReservationsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Your search yielded no result"
          }
        }
      }
    },
    "/booking/reservation/voucher/{reservationNumber}": {
      "get": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.8 Voucher",
        "description": "## Description\r\nReturns data as printed on the \"voucher\" that customers need to present on check-in.\r\n## Note\r\nAccess to this method is limited to selected partners only!\r\n## Use case\r\nGenerate a voucher and send it to the client by email.\r\n## Caching\r\nNo",
        "operationId": "GetReservationVoucherByReservationNumber",
        "parameters": [
          {
            "name": "reservationNumber",
            "in": "path",
            "description": "Selects the corresponding Reservation",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "202016123456"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVoucherRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetVoucherRs"
                }
              }
            }
          },
          "404": {
            "description": "Reservation number not found"
          }
        }
      }
    },
    "/booking/nextCheckInDate/{accommodationCode}": {
      "get": {
        "tags": [
          "6. Booking"
        ],
        "summary": "6.9 Next checkIn date",
        "description": "## Description\r\nThe method Next CheckIn Date returns the next possible reservation start date within 100 days of the given date for the specified duration and accommodation.\r\n## Use case\r\nTypically used to display the next possible date if the date chosen by the customer is already unavailable.\r\n## Caching\r\nNo",
        "operationId": "GetNextCheckInDateByAccommodationCode",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "Selects the corresponding accommodation",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH3920.4.1"
          },
          {
            "name": "CheckIn",
            "in": "query",
            "description": "Begin date of search, default is today",
            "schema": {
              "type": "string",
              "description": "Begin date of search, default is today",
              "format": "date"
            },
            "example": "2020-12-31"
          },
          {
            "name": "Duration",
            "in": "query",
            "description": "Duration of stay",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 7
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NextCheckInDateRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NextCheckInDateRs"
                }
              }
            }
          },
          "404": {
            "description": "Reservation number not found"
          }
        }
      }
    },
    "/vacancy/{accommodationCode}": {
      "get": {
        "tags": [
          "7. Vacancy"
        ],
        "summary": "7.1 Vacancy",
        "description": "## Description\r\nReturns the availability information for a given property: all days in the specified range (in which the object is active) in an array, with corresponding codes for occupancy status, arrival/departure day, minimum stay and number of available units.\r\n## Use case\r\nTypically used to display the calendar information on a property details page.\r\n## Caching\r\nNo",
        "operationId": "ListAccommodationVacanciesByAccommodationCode",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "Selects the corresponding accommodation",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH3920.4.1"
          },
          {
            "name": "RangeFromDate",
            "in": "query",
            "description": "Range from",
            "schema": {
              "type": "string",
              "description": "Range from",
              "format": "date"
            },
            "example": "2020-01-01"
          },
          {
            "name": "RangeToDate",
            "in": "query",
            "description": "Range to",
            "schema": {
              "type": "string",
              "description": "Range from",
              "format": "date"
            },
            "example": "2020-12-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VacancyRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VacancyRs"
                }
              }
            }
          },
          "404": {
            "description": "Accommodation not found"
          }
        }
      }
    },
    "/vacancy/string/{accommodationCode}": {
      "get": {
        "tags": [
          "7. Vacancy"
        ],
        "summary": "7.2.1 Vacancy string",
        "description": "## Description\r\nReturns the availability information for a given property in string format.\r\nDelivers 4 strings for occupancy status, arrival/departure day, minimum stay and allotment (units) where each character represents a single day starting at the specified range from date (or the first day on which the accommodation is active) and ending at the specified range to date (or the last day on which the object is active).\r\n## Use case\r\nTypically used to display the calendar information on a property details page.\r\n## Note\r\nMinimum stays of >26 days cannot be represented in the string format. It is advised to use Vacancy method instead. Important: At the moment, it is not possible to create on request reservations via API. In our Check Price response, you will also see <StateCode>RQ</StateCode>\r\n## Caching\r\nNo",
        "operationId": "GetAccommodationVacancyAsStringByAccommodationCode",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "Selects the corresponding accommodation",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH3920.4.1"
          },
          {
            "name": "RangeFromDate",
            "in": "query",
            "description": "Range from",
            "schema": {
              "type": "string",
              "description": "Range from",
              "format": "date"
            },
            "example": "2020-01-01"
          },
          {
            "name": "RangeToDate",
            "in": "query",
            "description": "Range to",
            "schema": {
              "type": "string",
              "description": "Range to",
              "format": "date"
            },
            "example": "2020-12-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VacancyStringRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VacancyStringRs"
                }
              }
            }
          },
          "404": {
            "description": "Accommodation not found"
          }
        }
      }
    },
    "/vacancy/trips/{accommodationCode}": {
      "get": {
        "tags": [
          "7. Vacancy"
        ],
        "summary": "7.3 Trips",
        "description": "## Description\r\nReturns all available reservation dates and durations for the selected accommodation. The date range can be restricted with one or both of the optional parameters RangeFromDate and RangeToDate. To select only Trips of a certain duration, the Duration parameter can be set. Note: At the moment, only durations 1-14, 21 and 28 are supported!\r\n## Use case\r\nTypically used to display the calendar information on a property details page.\r\n## Caching\r\nYes",
        "operationId": "ListAccommodationTripsByAccommodationCode",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "Selects the corresponding accommodation",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH3920.4.1"
          },
          {
            "name": "RangeFromDate",
            "in": "query",
            "description": "Range from",
            "schema": {
              "type": "string",
              "description": "Range from",
              "format": "date"
            },
            "example": "2020-01-01"
          },
          {
            "name": "RangeToDate",
            "in": "query",
            "description": "Range to",
            "schema": {
              "type": "string",
              "description": "Range to",
              "format": "date"
            },
            "example": "2020-12-01"
          },
          {
            "name": "Duration",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 7
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripsRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TripsRs"
                }
              }
            }
          },
          "404": {
            "description": "Accommodation not found"
          }
        }
      }
    },
    "/vacancy/checkinTrips/{accommodationCode}": {
      "get": {
        "tags": [
          "7. Vacancy"
        ],
        "summary": "7.4 CheckIn trips",
        "description": "## Description\r\nReturns all possible reservation duration of the selected accommodation including prices, special offers and booking status.",
        "operationId": "ListCheckInTripsByAccommodationCode",
        "parameters": [
          {
            "name": "accommodationCode",
            "in": "path",
            "description": "Selects the corresponding accommodation",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CH3920.4.1"
          },
          {
            "name": "SalesOffice",
            "in": "query",
            "description": "SalesOffice to select prices",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2020
          },
          {
            "name": "Currency",
            "in": "query",
            "description": "Currency of the prices",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CurrencyEnum"
                }
              ],
              "description": "Special themes"
            },
            "example": "CHF"
          },
          {
            "name": "CheckIn",
            "in": "query",
            "description": "Desired check in date",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Check in",
              "format": "date"
            },
            "example": "2020-01-01"
          },
          {
            "name": "Language",
            "in": "query",
            "description": "Language of special offer description. Default is English",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LanguagesEnum"
                }
              ],
              "description": ""
            },
            "example": "De"
          }
        ],
        "responses": {
          "200": {
            "description": "Response returns all possible reservation durations for the specified check in date, with prices, special offers (if any) and booking status (OK/RQ).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckInTripsRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CheckInTripsRs"
                }
              }
            }
          },
          "404": {
            "description": "Accommodation not found"
          }
        }
      }
    },
    "/search": {
      "post": {
        "tags": [
          "8. Search"
        ],
        "summary": "8.1 Search",
        "description": "## Description\r\nThe Search method returns all accommodations matching the criteria specified and are still available. The complete result set can be accessed by pagination.\r\n            \r\nTo search for accommodations, POST a valid request in either JSON or XML format. The service will respond with all found accommodations for given request in case of success, or error messages in case of failure.\r\n            \r\nThe search function provides two endpoints:\r\n- /search is the \"default\" search endpoint which only returns the accommodation codes and prices. Use this endpoint if the accommodation details (attributes, picture URLs) are cached locally.\r\n- /search/max returns additional accommodation details. Please use this endpoint only if you have not cached the information since the response time takes quite longer.\r\n## Use case\r\nThis method is typically used to display a search result page to a client.\r\n## Caching\r\n- Pricing information should not be cached\r\n- When using /search/max, the accommodation details must be cached",
        "operationId": "GetSearch",
        "parameters": [
          {
            "name": "PaxSplit",
            "in": "query",
            "description": "If there are different prices depending on occupancy, the lowest price for the smallest occupancy available will be delivered with this parameter set to true. With value false or without this parameter you get the lowest price for maximum occupancy.",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "Language",
            "in": "query",
            "description": "Language of special offer description. Default is English",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LanguagesEnum"
                }
              ],
              "description": ""
            },
            "example": "De"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchRqType"
                  }
                ],
                "description": "",
                "xml": {
                  "name": "SearchRq"
                }
              }
            },
            "application/xml": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchRqType"
                  }
                ],
                "description": "",
                "xml": {
                  "name": "SearchRq"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchRs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SearchRs"
                }
              }
            }
          },
          "404": {
            "description": "Accommodation not found"
          }
        }
      }
    },
    "/search/max": {
      "post": {
        "tags": [
          "8. Search"
        ],
        "summary": "8.2 Search",
        "description": "## Description\r\nThe Search method returns all accommodations matching the criteria specified and are still available. The complete result set can be accessed by pagination.\r\n            \r\nTo search for accommodations, POST a valid request in either JSON or XML format. The service will respond with all found accommodations for given request in case of success, or error messages in case of failure.\r\n            \r\nThe search function provides two endpoints:\r\n- /search is the \"default\" search endpoint which only returns the accommodation codes and prices. Use this endpoint if the accommodation details (attributes, picture URLs) are cached locally.\r\n- /search/max returns additional accommodation details. Please use this endpoint only if you have not cached the information since the response time takes quite longer.\r\n## Use case\r\nThis method is typically used to display a search result page to a client.\r\n## Caching\r\n- Pricing information should not be cached\r\n- When using /search/max, the accommodation details must be cached",
        "operationId": "GetSearchMax",
        "parameters": [
          {
            "name": "PaxSplit",
            "in": "query",
[...]
